[submodule "components/esp-cryptoauthlib"]
	path = components/esp-cryptoauthlib
	url = https://github.com/m5stack/esp-cryptoauthlib
[submodule "components/Core2-for-AWS-IoT-Kit"]
	path = components/Core2-for-AWS-IoT-Kit
	url = https://github.com/m5stack/Core2-for-AWS-IoT-Kit.git
